<!DOCTYPE html>
<title>Delete {{.Entry.Title}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="{{route "listGroups"}}" class="breadcrumbLink">Groups</a> &#x279C;
      {{with .Group}}
      <a href="{{route "viewGroup" "gid" .ID}}" class="breadcrumbLink">{{.Name}}</a> &#x279C;
      {{end}}
    </nav>
    <h1 class="pageTitle">Delete {{.Entry.Title}}</h1>
  </div>
  <div class="pageBody">
    <p>Are you sure you want to delete "{{.Entry.Title}}"?  This action cannot be undone.</p>
    <div>
      <form method="POST" action="{{route "deleteEntry" "uuid" .Entry.UUID}}">
        <button type="button" data-href="{{route "viewEntry" "uuid" .Entry.UUID}}">Cancel</button>
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
</div>
<script src="/js/init.js"></script>
