<!DOCTYPE html>
<title>Delete {{.Group.Name}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="/groups" class="breadcrumbLink">Groups</a> &#x279C;
      <a href="/groups/{{.Group.ID}}" class="breadcrumbLink">{{.Group.Name}}</a> &#x279C;
    </nav>
    <h1 class="pageTitle">Delete {{.Group.Name}}</h1>
  </div>
  <div class="pageBody">
    <p>Are you sure you want to delete "{{.Group.Name}}"?  This action cannot be undone.</p>
    <div>
      <form method="POST">
        <button data-href="/groups/{{.Group.ID}}">Cancel</button>
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
</div>
<script src="/js/init.js"></script>
