<!DOCTYPE html>
<title>
  {{- if .NewGroup -}}
  New Group
  {{- else -}}
  Edit {{.Group.Name}}
  {{- end}} - Sandpass
</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="{{route "listGroups"}}" class="breadcrumbLink">Groups</a> &#x279C;
    </nav>
    <h1 class="pageTitle">
      {{if .NewGroup}}
      New Group
      {{else}}
      Edit {{.Group.Name}}
      {{end}}
    </h1>
  </div>
  <div class="pageBody">
    {{if not .NewGroup}}
    <div class="actionBar">
      <button data-href="{{route "viewGroup" "gid" .Group.ID}}">View</button>
      <button data-href="{{route "confirmDeleteGroup" "gid" .Group.ID}}"
          {{- if or .Group.NEntries .Group.NGroups}}disabled{{end}}>Delete</button>
    </div>
    {{end}}
    <form method="POST" action="
        {{- if .NewGroup -}}
          {{- route "newGroup" -}}
        {{- else -}}
          {{- route "editGroup" "gid" .Group.ID -}}
        {{- end -}}">
      {{template "xsrfinput.html" .XSRFToken}}
      <div class="sandpassFields">
        <div class="sandpassFieldGroup">
          <label for="groupParent" class="sandpassFieldName">Group</label>
          <div class="sandpassField">
            <select id="groupParent" name="parent" required>
              {{range .ParentOptions}}
                {{if .Group.IsRoot}}
                  <option value="root"{{if $.Parent.IsRoot}} selected{{end}}>Top</option>
                {{else}}
                  <option value="{{.Group.ID}}"
                    {{- if and (not $.Parent.IsRoot) (eq .Group.ID $.Parent.ID)}} selected{{end}}>
                    {{- emspace .Indent}}{{.Group.Name -}}
                  </option>
                {{end}}
              {{end}}
            </select>
          </div>
        </div>
        <div class="sandpassFieldGroup">
          <label for="groupName" class="sandpassFieldName">Name</label>
          <div class="sandpassField">
            <input type="text" name="name" value="{{.Group.Name}}" id="groupName" class="sandpassFieldTextbox">
          </div>
        </div>
      </div>
      <div>
        <button type="button" data-href="
            {{- if and .NewGroup .Parent.IsRoot -}}
              {{- route "listGroups" -}}
            {{- else if .NewGroup -}}
              {{- route "viewGroup" "gid" .Parent.ID -}}
            {{- else -}}
              {{- route "viewGroup" "gid" .Group.ID -}}
            {{- end -}}">Cancel</button>
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
{{template "footer.html"}}
<script src="/js/init.js"></script>
