<!DOCTYPE html>
<title>
  {{- if .Entry.UUID.IsZero -}}
  New Entry
  {{- else -}}
  Edit {{.Entry.Title}}
  {{- end}} - Sandpass
</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="/groups" class="breadcrumbLink">Groups</a> &#x279C;
      {{with .Group}}
      <a href="/groups/{{.ID}}" class="breadcrumbLink">{{.Name}}</a> &#x279C;
      {{end}}
    </nav>
    <h1 class="pageTitle">
      {{if .Entry.UUID.IsZero}}
      New Entry
      {{else}}
      Edit {{.Entry.Title}}
      {{end}}
    </h1>
  </div>
  <div class="pageBody">
    <form method="POST">
      <div class="entryFields">
        <div class="entryFieldGroup">
          <label for="entryTitle" class="entryFieldName">Title</label>
          <div class="entryField">
            <input type="text" name="title" value="{{.Entry.Title}}" id="entryTitle" class="entryFieldTextbox">
          </div>
        </div>
        <div class="entryFieldGroup">
          <label for="entryUsername" class="entryFieldName">Username</label>
          <div class="entryField">
            <input type="text" name="username" value="{{.Entry.Username}}" id="entryUsername" class="entryFieldTextbox">
          </div>
        </div>
        <div class="entryFieldGroup">
          <label for="entryPassword" class="entryFieldName">Password</label>
          <div class="entryField">
            <input type="text" name="password" value="{{.Entry.Password}}" id="entryPassword" class="entryFieldTextbox">
          </div>
        </div>
        <div class="entryFieldGroup">
          <label for="entryURL" class="entryFieldName">URL</label>
          <div class="entryField">
            <input type="url" name="url" value="{{.Entry.URL}}" id="entryURL" class="entryFieldTextbox">
          </div>
        </div>
        <div class="entryFieldGroup">
          <label for="entryNotes" class="entryFieldName">Notes</label>
          <div class="entryField">
            <textarea name="notes" rows="6" cols="40" id="entryNotes">{{.Entry.Notes}}</textarea>
          </div>
        </div>
      </div>
      <div>
        <a href="/groups/{{.Group.ID}}{{if not .Entry.UUID.IsZero}}/entry/{{.Entry.UUID}}{{end}}">Cancel</a>
        <input type="submit" value="Save">
      </div>
    </form>

    <h2>Generate Password</h2>
    <form id="pwgenForm" method="GET" action="/_/pwgen">
      <div class="pwgenType">
        <div>
          <input type="radio" name="mode" value="" id="normalMode" checked>
          <label for="normalMode">Characters</label>
        </div>
        <div>
          <input type="radio" name="mode" value="phrase" id="passphraseMode">
          <label for="passphraseMode">Passphrase</label>
        </div>
      </div>
      <div id="normalModeOptions" class="pwgenOptions">
        <div class="pwgenFieldGroup">
          <label for="normalN" class="pwgenFieldName">Length</label>
          <div class="pwgenField">
            <input type="number" id="normalN" name="n" min="1" max="200" value="20">
          </div>
        </div>
      </div>
      <div id="passphraseModeOptions" class="pwgenOptions" hidden>
        <div class="pwgenFieldGroup">
          <label for="passphraseN" class="pwgenFieldName">Number of Words</label>
          <div class="pwgenField">
            <input type="number" id="passphraseN" name="n" min="1" max="50" value="5">
          </div>
        </div>
        <div class="pwgenFieldGroup">
          <div class="pwgenField">
            <input type="checkbox" id="passphrasePossessives" name="possessives">
            <label for="passphrasePossessives">Include possessives</label>
          </div>
        </div>
      </div>
      <div class="error" hidden></div>
      <input type="submit" value="Generate">
    </form>
  </div>
</div>
<script src="/js/sandnav.js"></script>
<script src="/js/editentry.js"></script>
