<!DOCTYPE html>
<title>{{.Entry.Title}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <header class="pageHeader">
    <nav class="breadcrumb">
      <a href="{{route "listGroups"}}" class="breadcrumbLink">Groups</a> &#x279C;
      {{with .Group}}
      <a href="{{route "viewGroup" "gid" .ID}}" class="breadcrumbLink">{{.Name}}</a> &#x279C;
      {{end}}
    </nav>
    <h1 class="pageTitle">{{.Entry.Title}}</h1>
  </header>
  <main class="pageBody">
    {{if .Permissions.Has "write"}}
      <div class="actionBar">
        <button data-href="{{route "editEntryForm" "uuid" .Entry.UUID}}">Edit</button>
        <button data-href="{{route "confirmDeleteEntry" "uuid" .Entry.UUID}}">Delete</button>
      </div>
    {{end}}
    {{with .Entry}}
    <div class="sandpassFields">
      {{with .Username}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Username</div>
        <div class="sandpassField sandpassFieldValue">{{.}}</div>
      </div>
      {{end}}
      {{with .Password}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Password</div>
        <div class="sandpassField">
          <span id="password" class="sandpassFieldValue" data-value="{{.}}">**********</span>
          <div>
            <button id="showpassword">Show</button>
            <button id="copypassword" data-clipboard-text="{{.}}">Copy</button>
          </div>
        </div>
      </div>
      {{end}}
      {{with .URL}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">URL</div>
        <div class="sandpassField sandpassFieldValue"><a href="{{.}}" target="_blank">{{.}}</a></div>
      </div>
      {{end}}
      {{if .HasAttachment}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Attachment</div>
        <div class="sandpassField">
          {{with .Attachment -}}
            <a href="{{route "downloadAttachment" "uuid" $.Entry.UUID}}">{{.Name}}</a>
          {{- end}}
          {{if $.Permissions.Has "write" -}}
          <div>
            <button type="button" data-href="{{route "confirmDeleteAttachment" "uuid" $.Entry.UUID}}">Delete</button>
          </div>
          {{- end}}
        </div>
      </div>
      {{end}}
      {{with .Notes}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Notes</div>
        <div class="sandpassField sandpassFieldValue">{{.}}</div>
      </div>
      {{end}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Created</div>
        <div class="sandpassField sandpassFieldValue">{{template "time.html" .CreationTime}}</div>
      </div>
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Last Modified</div>
        <div class="sandpassField sandpassFieldValue">{{template "time.html" .LastModificationTime}}</div>
      </div>
      {{if not .ExpiryTime.IsZero}}
      <div class="sandpassFieldGroup">
        <div class="sandpassFieldName">Expires</div>
        <div class="sandpassField sandpassFieldValue">{{template "time.html" .ExpiryTime}}</div>
      </div>
      {{end}}
    </div>
    {{end}}
  </main>
</div>
{{template "footer.html"}}
<script src="/js/init.js"></script>
<script src="/js/clipboard.js"></script>
<script src="/js/entry.js"></script>
