<!DOCTYPE html>
<title>Groups - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <header class="pageHeader">
    <h1 class="pageTitle noBreadcrumb">Groups</h1>
  </header>
  <main class="pageBody">
    <div class="actionBar">
      {{template "searchbox.html"}}
      {{if .Permissions.Has "write"}}
        <button data-href="{{route "newGroupForm"}}?parent=root">New Group</button>
      {{end}}
      {{if .Permissions.Has "init"}}
        <button data-href="{{route "confirmNuke"}}">Delete Database</button>
      {{end}}
    </div>
    {{template "grouplist.html" .Root}}
  </main>
</div>
{{template "footer.html"}}
<script src="/js/init.js"></script>
