<!DOCTYPE html>
<title>Groups - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <h1 class="pageTitle noBreadcrumb">Groups</h1>
  </div>
  <div class="pageBody">
    <div class="actionBar">
      {{template "searchbox.html"}}
      {{if .Permissions.Has "write"}}
        <button data-href="/newgroup?parent=root">New Group</button>
      {{end}}
      {{if .Permissions.Has "init"}}
        <button data-href="/nuke">Delete Database</button>
      {{end}}
    </div>
    {{template "grouplist.html" .Root}}
  </div>
</div>
<script src="/js/init.js"></script>
