<!DOCTYPE html>
<title>{{.Name}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="/groups" class="breadcrumbLink">Groups</a> &#x279C;
    </nav>
    <h1 class="pageTitle">{{.Name}}</h1>
  </div>
  <div class="pageBody">
    <div class="actionBar">
      {{template "searchbox.html"}}
      <button data-href="/groups/{{.ID}}/newentry">New Entry</button>
    </div>
    <ul>
      {{range sortEntries .Entries}}
      <li><a href="/groups/{{$.ID}}/entry/{{.UUID}}">{{.Title}}</a></li>
      {{end}}
    </ul>
  </div>
</div>
<script src="/js/init.js"></script>
