<!DOCTYPE html>
<title>{{.Group.Name}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <nav class="breadcrumb">
      <a href="{{route "listGroups"}}" class="breadcrumbLink">Groups</a> &#x279C;
    </nav>
    <h1 class="pageTitle">{{.Group.Name}}</h1>
  </div>
  <div class="pageBody">
    <div class="actionBar">
      {{template "searchbox.html"}}
      {{if .Permissions.Has "write"}}
        <button data-href="{{route "newEntryForm" "gid" .Group.ID}}">New Entry</button>
        <button data-href="{{route "newGroupForm"}}?parent={{.Group.ID}}">New Group</button>
        <button data-href="{{route "editGroupForm" "gid" .Group.ID}}">Edit Group</button>
        <button data-href="{{route "confirmDeleteGroup" "gid" .Group.ID}}"
            {{- if or .Group.NEntries .Group.NGroups}} disabled{{end}}>Delete Group</button>
      {{end}}
    </div>
    <ul>
      {{range sortEntries .Group.Entries}}
      <li><a href="{{route "viewEntry" "gid" $.Group.ID "uuid" .UUID}}">{{.Title}}</a></li>
      {{end}}
    </ul>
  </div>
</div>
<script src="/js/init.js"></script>
