<!DOCTYPE html>
<title>Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <h1 class="pageTitle noBreadcrumb">Sandpass</h1>
  </div>
  <div class="pageBody">
  {{if and .FirstTime (.Permissions.Has "init")}}
    <p>
      Welcome to Sandpass!  Please enter an encryption passphrase for your database
      below.  If you have an existing KeePassX database, you may upload it below,
      but your passphrase must match the existing database.
    </p>
    {{with .Error}}
      <div class="error">{{.}}</div>
    {{end}}
    <form method="POST" action="{{route "newDB"}}" enctype="multipart/form-data">
      {{template "xsrfinput.html" .XSRFToken}}
      <div class="sandpassFields">
        <div class="sandpassFieldGroup">
          <label for="newDBDatabase" class="sandpassFieldName">
            Existing database (optional)
          </label>
          <div class="sandpassField">
            <input type="file" id="newDBDatabase" name="database" accept=".kdb">
          </div>
        </div>
        <div class="sandpassFieldGroup">
          <label for="newDBPassword" class="sandpassFieldName">Password</label>
          <div class="sandpassField">
            <input type="password" id="newDBPassword" name="password" class="sandpassFieldTextbox">
          </div>
        </div>
        <div class="sandpassFieldGroup">
          <label for="newDBKeyFile" class="sandpassFieldName">Key File</label>
          <div class="sandpassField">
            <input type="file" id="newDBKeyFile" name="keyfile" accept=".key">
          </div>
        </div>
      </div>
      <input type="submit" value="Create">
    </form>
  {{else if .FirstTime}}
    <p>
      This Sandpass database has not been set up yet, and you do not have
      permission to create it.  Contact the grain owner.
    </p>
  {{else}}
    <p>
      Welcome back to Sandpass!  Enter your encryption passphrase to continue.
    </p>
    {{with .Error}}
      <div class="error">{{.}}</div>
    {{end}}
    <form method="POST" action="{{route "startSession"}}" enctype="multipart/form-data">
      {{template "xsrfinput.html" .XSRFToken}}
      <div class="sandpassFields">
        <div class="sandpassFieldGroup">
          <label for="startPassword" class="sandpassFieldName">Password</label>
          <div class="sandpassField">
            <input type="password" id="startPassword" name="password" class="sandpassFieldTextbox">
          </div>
        </div>
        <div class="sandpassFieldGroup">
          <label for="startKeyFile" class="sandpassFieldName">Key File</label>
          <div class="sandpassField">
            <input type="file" id="startKeyFile" name="keyfile" accept=".key">
          </div>
        </div>
      </div>
      <input type="submit" value="Open">
    </form>
  {{end}}
  </div>
</div>
{{template "footer.html"}}
<script src="/js/init.js"></script>
