<!DOCTYPE html>
<title>Delete Database - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <div class="pageHeader">
    <h1 class="pageTitle">Delete Database</h1>
  </div>
  <div class="pageBody">
    <p>Are you sure you want to delete <strong>the entire database</strong>?  This action cannot be undone.</p>
    <div>
      <form method="POST">
        <button data-href="/groups">Cancel</button>
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
</div>
<script src="/js/init.js"></script>
