<!DOCTYPE html>
<title>Search {{.Query}} - Sandpass</title>
<link rel="stylesheet" href="/style.css">
<div class="pageContainer">
  <header class="pageHeader">
    <nav class="breadcrumb">
      <a href="{{route "listGroups"}}" class="breadcrumbLink">Groups</a> &#x279C;
    </nav>
    <h1 class="pageTitle">Search</h1>
  </header>
  <main class="pageBody">
    <div class="actionBar">
      <form method="GET" action="{{route "search"}}">
        <input type="search" name="q" value="{{.Query}}" aria-label="Search box">
        <input type="submit" value="Search">
      </form>
    </div>
    {{if .Results}}
    <ul>
      {{range .Results}}
      <li>
        <a href="{{route "viewEntry" "uuid" .UUID}}">{{.Title}}</a>
        (from {{.Parent.Name}})
      </li>
      {{end}}
    </ul>
    {{else if .Query}}
    <p>No results.</p>
    {{end}}
  </main>
</div>
{{template "footer.html"}}
<script src="/js/init.js"></script>
